<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  SupportCopy,
  SupportHero,
  SupportNote,
} from '~/components/support/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    SupportCopy,
    SupportHero,
    SupportNote,
  },
  async asyncData({ $content, error }) {
    try {
      const support = await $content('support/index').fetch();
      return { support };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  data() {
    return {
      data: {
        anchors: {
          text: 'ON THIS PAGE',
          data: [
            {
              text: 'Contact Support',
              href: '#contact-support',
              nodes: [
                {
                  text: 'Have questions about billing, purchasing, subscriptions or licenses?',
                  href: '#have-questions-about-billing-purchasing-subscriptions-or-licenses',
                },
                {
                  text: 'Can’t find what you’re looking for?',
                  href: '#cant-find-what-you-are-looking-for',
                },
                {
                  text: 'Proving your Support Entitlement',
                  href: '#proving-your-support-entitlement',
                },
              ],
            },
            {
              text: 'GitLab Support Service Levels',
              href: '#gitlab-support-service-levels',
              nodes: [
                {
                  text: 'Trials Support',
                  href: '#trials-support',
                },
                {
                  text: 'Standard Support (Legacy)',
                  href: '#standard-support-legacy',
                },
                {
                  text: 'Priority Support',
                  href: '#priority-support',
                },
                {
                  text: 'How to trigger Emergency Support',
                  href: '#how-to-trigger-emergency-support',
                },
              ],
            },
            {
              text: 'Service Level Agreements',
              href: '#service-level-agreements',
            },
            {
              text: 'Hours of Operation',
              href: '#hours-of-operation',
              nodes: [
                {
                  text: 'Definitions of GitLab Global Support Hours',
                  href: '#definitions-of-gitLab-global-support-hours',
                },
                {
                  text: 'Effect on Support Hours if a preferred region for support is chosen',
                  href: '#effect-on-support-hours-if-a-preferred-region-for-support-is-chosen',
                },
                {
                  text: 'Phone and video call support',
                  href: '#phone-and-video-call-support',
                },
              ],
            },
          ],
        },
        hyperlinks: {
          text: 'MORE RESOURCES',
          data: [
            {
              text: 'Customer Satisfaction',
              href: '/support/customer-satisfaction/',
            },
            {
              text: 'General Support Rules',
              href: '/support/general-policies/',
            },
            {
              text: 'GitLab.com Specific Support Policies',
              href: '/support/gitlab-com-policies/',
            },
            {
              text: 'Support Definitions',
              href: '/support/definitions',
            },
            {
              text: 'Support Portal',
              href: '/support/portal/',
            },
            {
              text: 'US Federal Support',
              href: '/support/us-federal-support/',
            },
          ],
        },
      },
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).support, this.$route.path);
  },
});
</script>

<template>
  <SlpContainer>
    <SupportHero :data="support['support-hero'].data" />
    <SlpSideNavigation :data="data">
      <component
        :is="component.name"
        v-for="component in support.components"
        :key="component.name + Math.random()"
        :data="component.data"
      />
    </SlpSideNavigation>
  </SlpContainer>
</template>
